/* Subheader fixed styling */
.subheader {
    position: fixed;
    top: 60px; /* Adjusted for the header height */
    width: 100%;
    z-index: 999;
    padding: 10px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #4682B4; /* Darker shade of sky blue */
  }
  
  .subheader.scrolled {
    background-color: #050505; /* Darker blue for subheader when scrolled */
    color: white; /* White text when scrolled */
  }
  
  .subheader-logo {
    font-size: 28px;
    font-weight: bold;
    color: white;
  }
  
  .subheader-logo-link {
    color: white;
    text-decoration: none;
  }
  
  .subheader-title {
    color: white;
    font-weight: bold;
  }
  
  /* Navigation menu styling */
  .nav-menu li:first-child {
    display: flex;
    align-items: center;
  }
  
  .nav-menu {
    display: flex;
    justify-content: center; /* Centers the menu items */
    width: 100%;
    list-style-type: none;
    padding: 0;
  }
  
  .nav-menu ul {
    display: flex;
    justify-content: center; /* Center align the links */
    margin: 0;
    padding: 0;
  }
  
  .nav-menu li {
    margin: 0 15px;
    position: relative;
  }
  
  .nav-menu a {
    text-decoration: none;
    color: white;
    font-size: 16px;
  }
  
  .nav-menu a:hover {
    text-decoration: underline;
  }
  
  /* Dropdown styling */
  .dropdown {
    position: relative;
  }
  
  .dropdown-button {
    background-color: transparent; /* Removed background color */
    color: white; /* White text color */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    text-align: left; /* Align text to the left */
  }
  
  .dropdown-button:hover {
    color: #f1f1f1; /* Slightly lighter text color on hover */
    text-decoration: underline; /* Underline effect on hover */
  }
  
  /* Dropdown content styling */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    padding: 10px 0;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1rem;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1; /* Light hover effect */
  }
  
  /* Move the Login/Signup and Profile Management to the right corner */
  .right-corner {
    margin-left: auto;
    margin-right: 3%;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .right-corner a {
    margin-left: 0;
    font-size: 16px;
    color: white;
  }
  
  .right-corner a:hover {
    text-decoration: underline;
  }
  